body html{
    background-image: url('111111');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


html {
    scroll-behavior: smooth;
  }
.navbar{
    background-color: rgb(148, 137, 137);
    border-radius: 20px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 20px 10px;
    
}
.navbar li:hover{
    background-color: rgb(240, 10, 10);
    color: rgb(246, 235, 235);
}

.navbar li a{
    padding: 16px 10px;
   text-decoration: none;
   color: white;
}

.search{
    float: right;
    color: white;

    padding: 20px 40px;
}
.icon-search{
    color: aqua;
    font-size: 20px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
    width: 125px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
 
div.center{
    text-align: center;
}
.haed{
    text-align: center;

}
p1{ 

    color: rgb(5, 5, 37);
    font-size: medium;
    font-style: italic;
    
    background-color: #eef3e7;
}
.button {
    background-image: linear-gradient(to right, #c0bccf, #a189c0);
    color: black;
    font-family: Arial Bold;
    font-size: 15px;
    text-decoration: none;
    padding: 3px;
    border: dotted black;
    border-radius: 30px;
}
.gag{
    background-image: linear-gradient(to right, #e0b700, #e9e3d7);
    color: black;
    font-family: Arial Bold;
    font-size: 30;
    text-decoration: none;
    padding: 3px;
    border: solid red;
    border-radius: 56px;
} 
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }  
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
div.center{
    text-align: center;
}
p2{
    color: rgb(1, 17, 17);
    font-size:medium;
    font-style: italic;
background-color: #eef3e7;
   font-weight: 500px;
    border:  rgb(34, 32, 33) 2px;
   
}
div.center{
    text-align: center;
}

p3{
    color: rgb(1, 17, 17);
    font-size: medium;
    font-style: italic;
  background-color: #eef3e7;
   font-weight: 500px;
    border:  rgb(34, 32, 33) 2px;
   
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div.center{
    text-align: center;
}
p4{
    color: rgb(1, 17, 17);
    font-size: medium;
    font-style: italic;
background-color: #eef3e7;
   font-weight: 500px;
    border:  rgb(34, 32, 33) 2px;
   
}

footer{
    background: rgb(148, 137, 137);
    height: auto;
    width: 98vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 40px;
    color: #fff;
    border-radius: 10px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 .footer-content{
    max-width: 500px;
    margin: 10px auto;
    line-height: 1px;
    font-size: 14px;
 }
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    color: #fff;

}
.socials a i{
    font-size: 1.1rem;

}



















































































































